
.btn{
    border-radius: 50% !important;
    border: none !important;;
}
a{
    text-decoration: none;
}
footer{
    color:#fff;
    text-align: center !important;
}
footer .end-footer .p-end{
    color:#fff !important;
}
.container{
    padding: 3em 0 !important;
}