<footer class="overflow-x-hidden"  style="background-color: RGB(44, 62, 80)">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-4">
                <div>
                    <h3>LOCATION</h3>
                    <span>2215 John Daniel Drive</span>
                    <p>Clark, MO 65243</p>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4">
                <h3>AROUND THE WEB</h3>
                <div class="icon">
                       <!-- Facebook -->
      <a class="btn btn-primary btn-floating m-1 ro" style="background-color: #3b5998" href="#!" role="button"><i class="fab fa-facebook-f"></i></a>
      <a class="btn btn-primary btn-floating m-1" style="background-color: #55acee" href="#!" role="button"><i class="fab fa-twitter"></i></a>
      <a class="btn btn-primary btn-floating m-1" style="background-color: #ac2bac" href="#!" role="button"><i class="fab fa-instagram"></i></a>
      <a class="btn btn-primary btn-floating m-1" style="background-color: #0082ca" href="#!" role="button"><i class="fab fa-linkedin-in"></i></a>
      <a class="btn btn-primary btn-floating m-1" style="background-color: #333333" href="#!" role="button"><i class="fab fa-github"></i></a>

                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4">
                <div>
                    <h3>ABOUT FREELANCER</h3>
                    <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center end-footer p-3 " style="background-color:RGB(26, 37, 47)">
        <a class="text-dark text-light p-end" href="https://mdbootstrap.com/">Copyright © Your Website 2021</a>
    </div>
</footer>

