<section class="d-flex justify-content-center align-items-center">
    <div>
        <div class="about-header">
            <h2>ABOUT COMPONENT</h2>
            <app-break></app-break>
          </div>
          <div class="container">
              <div class="row px-5">
                  <div class="col-12 col-sm-12 col-md-6">
                      <p>
                        Freelancer is a free bootstrap theme created by Route
                        The download includes the complete source files
                        including HTML,CSS, and JavaScript as well 
                        as optional SASS stylesheets foreasy
                        customization.  
                      </p>
                  </div>
                  <div class="col-12 col-sm-12 col-md-6">
                      <p>
                        Freelancer is a free bootstrap theme created by Route
                        The download includes the complete source files
                        including HTML,CSS, and JavaScript as well 
                        as optional SASS stylesheets foreasy
                        customization.
                     </p>
                  </div>
              </div>
          </div>
    </div>
    </section>
    
