section{
    min-height: calc(100vh - 50px);
    margin-top: 3.8em;
}

.bg-2{
    color: 
    RGB(44, 62, 80);
  }
  .title-line{
    width: 80px;
    height: 4px;
    background-color: RGB(44, 62, 80);
  
  }
  .pointer{
    cursor: pointer;
  }
.w-40{
    width: 40%;
}

.portfolio-card:hover .layer{
    opacity: 0.9;
    background-color:rgb(26, 188, 156);

}
.layer{
    opacity: 0;
    transition: all 0.3s;
}
.layer-icon{
    font-size: 100px;
    color: white;
}


.model{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    z-index: 999;
}

.layer-model{
    background-color: rgba(13, 110, 253, 0.3);
}
.colse-model-icon{
   
    top: 15px;
    right: 15px;
    color: #fff;
}


@media screen and (max-width:767px) {
    .w-40{
        width: 70%;
    }
    .colse-model-icon{
        top: 100px;
        right: 30px;
    }
}
