.bg{
    background-color: 
    RGB(26, 188, 156);
    color: #fff !important;
  }
  .bg-2{
    color: 
    RGB(44, 62, 80);
  }
  section{
    min-height: calc(100vh - 50px);
    
  }
  .title-line{
    width: 80px;
    height: 4px;
    background-color: RGB(44, 62, 80);
  
  }
  .contact-form{
    width: 60% !important;
  }
    .form-control:focus {
      box-shadow: none;
    }
  
  .input-container {
    position: relative;
    margin-bottom: 20px;
  }
  
  .input-container input {
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    padding: 5px 0;
    width: 100%;
  }
  
  .input-container label {
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.5s ease;
    pointer-events: none;
    color: 
    RGB(26, 188, 156);
  }
  .input-container input:placeholder-shown + label {
    opacity: 0;
    top: 10ncpx;
  }
  .input-container input:not(:placeholder-shown) + label {
    opacity: 1;
    top: -17px;
  }
  
    
    @media screen and (min-width: 992px) {
      .contact-form {
        width: 50%;
      }
    }
    @media screen and (width: 497px) {
      .contact-form {
        width: 100% !important;
        margin: auto !important;
      }
    }
  