<section class="d-flex justify-content-center align-items-center pt-5">
    <div class="container mt-5 d-flex flex-column ">
      <div class="title text-center pt-4 bg-2">
        <h2 class="text-uppercase mb-3 fs-1 fw-bolder">
          conatct section
        </h2>
        <div class="d-flex align-items-center justify-content-center mb-3">
          <div class="title-line me-3"></div>
          <i class="fa-solid fa-star"></i>
          <div class="title-line ms-3"></div>
        </div>
      </div>
  
      <form class="contact-form p-3 mx-auto mt-4">
  
        <div class="input-container">
          <input id="UserName" type="text" placeholder=" User Name" name="UserName" class="form-control py-3" />
          <label for="UserName">User Name:</label>
        </div>
  
        <div class="input-container">
          <input id="userAge" type="text" placeholder="User Age" name="userAge" class="form-control py-3" />
          <label for="userAge">User Age:</label>
        </div>
  
        <div class="input-container">
          <input id="UserEmail" type="text" placeholder="User Email" name="UserEmail" class="form-control py-3" />
          <label for="UserEmail">User Email:</label>
        </div>
  
        <div class="input-container">
          <input id="UserPasswprd" type="text" placeholder="User Password" name="UserPasswprd"
            class="form-control py-3" />
          <label for="UserPasswprd">User Password:</label>
        </div>
  
  
        <button type="button" class="btn bg mt-2">
          send Message
        </button>
      </form>
    </div>
  </section>
