<section class="notFound">
    <div class="w-25">
        <img src="./assets/imgs/84f93cc91123f.png" alt="" class="w-100">
    
    </div>
    <div class="title">
        <h5 class="bg">
            page not found
        </h5>
        <p class="w-50 mx-auto fs">the page you are looking for might have been removed had its name changed or its temporarily unavaliable</p>
    </div>
    <a class="btn">
        <div><i class="fa-solid fa-house-user"></i> go to home page</div>
    </a>
    
    </section><p>noy-founed works!</p>
